#Button {
    margin-top: 10px;
    background-color: #ffb703;
    border: 0;
    width: 75%;
    height: 25px;
}

#Button-OOS{
    margin-top: 10px;
    background-color: #ffb703;
    border: 0;
    width: 75%;
    height: 25px;
    color: #9e9e9e;
}

#Button:active {
    background-color: #023047;
    color: white;
}