#Cart-Header {
	margin-top: 75px;
}

#Panier-Top {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#Panier-Top-Button {
	margin-top: 10px;
	background-color: white;
	border: none;
}

#Panier-Top-Price-Text {
	font-size: 20px;
	font-weight: bold;
}

#Panier-Top-NextStep-Button {
	background-color: #ffb703;
	border-radius: 10px;
	border: none;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

#Panier-Top-NextStep-Button:active {
	background-color: #023047;
	color: white;
}

#Panier-Top-NextStep-Button-Disable {
	background-color: #ffb703;
	border-radius: 10px;
	border: none;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}
