#Page-Form form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 20vh;
}

.Page-Form-Input {
	width: 30%;
	height: 20%;
	margin-bottom: 1%;
}

#Page-Form-Button {
	width: 30%;
	height: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #ffb703;
	border: none;
}

#Page-Form-Button:active {
	background-color: #023047;
	color: white;
}

#Page-Form-Error {
	color: red;
	margin-bottom: 1%;
}
